section{
  hegiht:800px;
}
  .FRST{font-size:5em;
      width:100px;
      font-family: 나눔스퀘어_ac ExtraBold;
      position:absolute;
      top:1000px;
      left: 400px;
      animation: slide 7s;
  }
@keyframes slide {

  from{
      left:-200px;
      opacity 0;
  }
  to{
     left:400px;
     opacity 1;
  }

}


.teams{ font-size:40px;
  font-family:나눔스퀘어_ac ExtraBold; color:green;
  position:absolute;
  top:1960px;
  left:400px;

}

.포레스트기획부{font-size:28px;
  font-family:나눔스퀘어_ac ExtraBold;
  position:absolute;
  top:2020px;
  left:400px;

}

.teamdetails_NGN{font-size:16px;
  font-family:나눔스퀘어_ac;
  position:absolute;
  top:2080px;
  left:400px;

}
.teamdetails_내부HR팀{font-size:16px;
  font-family:나눔스퀘어_ac;
  position:absolute;
  top:2200px;
  left:400px;

}

.teamdetails_인프라개발팀{font-size:16px;
  font-family:나눔스퀘어_ac;
  position:absolute;
  top:2350px;
  left:400px;
}
